body {
    display: block;
    overflow-x: hidden;
}

nav {
    background-color: rgb(229, 245, 239) !important;
}

.navbar-brand {
    font-size: 24px;
    font-weight: 900;
    color: purple
}

.navbar-toggler {
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}